<h1>All Shelters</h1>
<%= link_to 'Shelters', "/shelters" %>
<%= link_to 'Pets', "/pets" %>

<% @shelters.each do |shelter| %>
  <p><%= link_to shelter.name, "/shelters/#{shelter.id}" %></p>
  <%= link_to "Edit #{shelter.name}", "/shelters/#{shelter.id}/edit" %>
  <%= button_to 'Delete', "/shelters/#{shelter.id}", method: :delete %>
  <br>
<% end %>
<br><br><br>
<%= link_to "New Shelter", '/shelters/new' %>
