<h1>Available Pets</h1>
<h2><%= link_to "#{@shelter.name}" %></h2>
<%= link_to 'Shelters', "/shelters" %>
<%= link_to 'Pets', "/pets" %>


<% @pets.each do |pet| %>
  <% if pet.shelter_id == @shelter.id %>
    <%= image_tag(pet.image, alt: "pet photo", method: :get) %>
    <h3>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h3>
    <%= link_to 'Update', "/pets/#{pet.id}/edit" %>
    <br>
    <%= button_to 'Delete', "/pets/#{pet.id}", method: :delete %>
    <p>Approximate Age: <%= pet.approximate_age %></p>
    <p>Sex: <%= pet.sex %></p>

  <% else %>
  <% end %>
<% end %>
<br><br><br><br><br>
<%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new" %>
