<h2><%= @shelter.name %></h2>
<%= link_to 'Shelters', "/shelters" %>
<%= link_to 'Pets', "/pets" %>

<p>Address: <%= @shelter.address %></p>
<p>City: <%= @shelter.city %></p>
<p>State: <%= @shelter.state %></p>
<p>Zip: <%= @shelter.zip %></p>
<%= link_to 'This Shelter\'s Pets', "/shelters/#{@shelter.id}/pets" %>
